<div>
<% if comment.name == current_user.name %>
  <%= link_to 'Delete', [comment.movie, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

<% end %>      
  <%= comment.name %>: <%=comment.body %>
</div>

