<%= form_with(model: [ @movie, @movie.comments.build ]) do |form| %>
  <p>
    
    <%= form.text_area :body %>
  </p>
  <p>
   <button type="submit" class="btn btn-primary mb-2">Submit</button>
   
  </p>
<% end %> 

