<div class="container-fluid">
    <h1>Welcome to Laleh's Movie site</h1>
    <p>I hope that you enjoy the experience.  We have a lot of movie trailers for you to watch and comment on.</p>
 
    <img src="https://images-na.ssl-images-amazon.com/images/I/61Teggpds4L._SL1024_.jpg" class="rounded mx-auto d-block">

</div>
<p>
please either <%= link_to "Sign In", new_session_path, { :class=>"btn btn-primary btn-sm active" }  %> or <%= link_to "Sign Up", new_user_path, { :class=>"btn btn-primary btn-sm active" }  %>
</p>

        
