<div class="container-fluid">
    <h1>Welcome to Laleh's Movie site</h1>
    <p>I hope that you enjoy the experience.  We have a lot of movie trailers for you to watch and comment on.</p>
    <img src="https://www.fluentu.com/blog/wp-content/uploads/2015/03/how-to-learn-a-language-by-watching-movies-and-TV.jpg" class="rounded mx-auto d-block">
</div>
<p>
please either <%= link_to "Sign In", new_session_path, { :class=>"btn btn-primary btn-sm active" }  %> or <%= link_to "Sign Up", new_user_path, { :class=>"btn btn-primary btn-sm active" }  %>
</p>
